@import '../../variable.scss';
.members-picker-wrap,
.picker-container {
    position: relative;
    background: white;
    z-index:9;
}
.result-input {
    height: 100rpx;
    padding: 0 20rpx;
}
.tags-box {
    padding: 5rpx 20rpx;
    position: relative;
    .tag {
        display: inline-block;
        padding: 2rpx 10rpx;
        background: #7aa6f1;
        color: white;
        border-radius: 10rpx;
        margin: 4rpx 4rpx;
        font-size: 24rpx;
    }
    .tags-container {
        width: calc(100% - 120rpx);
        min-height: 60rpx;
        border-bottom: 1rpx solid rgba(0, 0, 0, 0.1);
    }
    .picker-button {
        display: inline-block;
        border: 1rpx solid $pink;
        border-radius: 10rpx;
        color: $pink;
        font-size: 24rpx;
        padding: 2rpx 6rpx;
        position: absolute;
        right: 20rpx;
        top: 10rpx;
    }
}
.scrollview {
    height: calc(100vh - 300rpx);
}
.li-item {
    display: flex;
    box-sizing: border-box;
    padding: 20rpx 40rpx;
    // border:1px solid red;
    align-items: center;
    // .avatar{

    // }
    .right-info {
        margin-left: 30rpx;
        border-bottom: 1rpx solid rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 100%;
        padding: 20rpx 0;

        .name {
            font-size: 34rpx;
        }
        .email {
            font-size: 32rpx;
            color: #666;
        }
    }
}
.sub-button-container {
    position: absolute;
    bottom: 20rpx;
    left:50%;
    transform: translateX(-50%);
    
}
.sub-button {
    background: $main;
    color: white;
    border: none;
    border-radius: 40rpx;
    height: 60rpx;
    width: 370rpx;
    line-height: 60rpx;
    display: block;
    margin:0 auto;
}