{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] ,}],
    "space-infix-ops": ["error", {"int32Hint": false}],
    "eqeqeq": 2,
    "key-spacing": [2, {
			"beforeColon": false,
			"afterColon": true
    }],
    "block-spacing": 2,
    "comma-spacing": 2,
    "object-curly-spacing":["error", "always", { "objectsInObjects": true }]
  },
  "parser": "babel-eslint",
  "plugins": ["typescript"]
}
