@import '../../variable.scss';
activityCard-wrap {
    width: 100%;
    min-height: 100vh;
}
.sub-button {
    background: $main;
    color: white;
    border: none;
    border-radius: 40rpx;
    height: 60rpx;
    width: 370rpx;
    line-height: 60rpx;
    margin-top: 20rpx;
}

.top-panel{
    .avatar{
        border-radius: 50%;
        background: $main;
        $size:100rpx;
        height: $size;
        width:$size;
        margin:0 auto 20rpx auto;
    }
}