@import '../../variable.scss';
.identity-wrap {
    width: 100%;
    min-height: 100vh;
    .value-item{
        width:auto;
    }
}
.sub-button {
    background: $main;
    color: white;
    border: none;
    border-radius: 40rpx;
    height: 60rpx;
    width: 370rpx;
    line-height: 60rpx;
    margin-top: 20rpx;
}
