@import './variable.scss';
.formPanel {
    width: 90vw;
    padding: 60rpx 20rpx;
    box-shadow: 6rpx 6rpx 20rpx 6rpx rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 20rpx;
}
.register-title-panel {
    background: $main;
    color: white;
    border: none;
    height: 60rpx;
    width: 220rpx;
    margin-top: 20rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32rpx;
    margin: 0 auto 30rpx auto;
}

.label-item {
    margin-right: 16rpx;
    width: 172rpx;
    font-size: 32rpx;
    line-height: 1.5;
    vertical-align: middle;
    text-align: left;
    display: inline-block;
}
.my-form-item {
    position: relative;
    padding: 16rpx 0;
    color: #333;
    background-color: #fff;
    margin-left: 32rpx;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
}

.value-item {
    color: #888;
    font-size: 32rpx;
    min-height: 44.8rpx;
    line-height: 1.5;
    display: inline-block;
    &.scroll-value-item {
        overflow-y: auto;
        white-space: nowrap;
    }
    // overflow-y: auto;
    // white-space: nowrap;
    .preview-image {
        width: 100rpx;
        height: 100rpx;
        margin: 10rpx;
        display: inline-block;
        border: 1px solid rgba(0, 0, 0, 0.1);
        vertical-align: top;
    }
    .at-icon-add {
        width: 100rpx;
        height: 100rpx;
        margin: 10rpx;
        display: inline-flex;
        border: 1px solid rgba(0, 0, 0, 0.1);
        align-items: center;
        justify-content: center;
        font-size: 40rpx;
        color: #888;
        vertical-align: top;
    }
}
.at-input::after {
    display: none;
}
