@import '../../variable.scss';
.event-card-wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;

}
.sub-button {
    background: $actvity;
    color: white;
    border: none;
    border-radius: 40rpx;
    height: 60rpx;
    width: 370rpx;
    line-height: 60rpx;
    margin-top: 70rpx;
}
.sub-button.red{
    background: $main;
    margin-top:30rpx;
}
.register-title-panel {
    background: $actvity;
}
.act-panel {
    text-align: center;
    margin-bottom: 20rpx;
    .act-title {
        font-size: 36rpx;
        color: #505050;
        text-align: center;
        display: inline-block;
    }
}
.at-input {
    display: inline-block;
}
.textarea-item{
    .value-item{
        height:auto;
        position: relative;
    }
}
textarea {
    width: 300rpx;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    min-height: 44rpx;
    // outline: 1px solid red;
    transform: translateY(4rpx);
    line-height: normal;
    // z-index: 1;
    // transform: translateY(15rpx);
}

input{
    transform: translateY(15rpx);
}
.member-sub-button {
    background: $main;
    color: white;
    border: none;
    border-radius: 40rpx;
    height: 70rpx;
    width: 360rpx;
    line-height: 60rpx;
    display: block;
    margin:0 auto;
   

}
