@import '../../variable.scss';
.event-card-wrap {
    width: 100%;
    min-height: 100vh;
}
.sub-button {
    background: $actvity;
    color: white;
    border: none;
    border-radius: 40rpx;
    height: 60rpx;
    width: 370rpx;
    line-height: 60rpx;
    margin-top: 90rpx;
}
.register-title-panel{
    background: $actvity;
}
.act-panel{
    text-align: center;
    margin-bottom:20rpx;
    .act-title{
        font-size:36rpx;
        color:#505050;
        text-align: center;
        display: inline-block;
    }
}
.at-input {
    display: inline-block;
}
